#### ASSIGNMENT 2

In this assignment i will be using AlphaVantage API to get monthly price information on 10 cryptocurrencies.

In [1]:
import pandas as pd
import requests

In [2]:
BASE_URL = "https://www.alphavantage.co/query"
# API query parameters
market = 'USD'
api_key = '48P1FYQCFCRNB10L'
function = 'DIGITAL_CURRENCY_MONTHLY'

In [3]:
def json_to_dataframe(crypto_symbol: str) -> pd.DataFrame:
    """
    creates dataframe from json returned by the api. creates csv file
    :param crypto_symbol: string representing the crypto currency the api will return data for.
    :return: dataframe
    """
    params = {'function': function, 'symbol': crypto_symbol, 'market': market, 'apikey': api_key}
    response = requests.get(BASE_URL,params)

    # getting json data from the response
    data = response.json()
    data = data['Time Series (Digital Currency Monthly)']

    # creating dataframe frame data
    dataframe_data = []
    for date in data:
        row = list(data[date].values())
        row.append(date)
        dataframe_data.append(row)

    dataframe = pd.DataFrame(dataframe_data, columns=['open (USD)', '1b. open (USD)', 'high (USD)', '2b. high (USD)', 'low (USD)', '3b. low (USD)', 'close (USD)', '4b. close (USD)', ' volume', 'market cap (USD)', 'date'])

    # save data to csv
    dataframe.to_csv("{}_monthly_data.csv".format(crypto_symbol), index = False)

    return dataframe

In [53]:
def to_floats(dt: pd.DataFrame) -> None:
    for column in dt.columns:
        if column != 'date':
            dt[column] = dt[column].astype(float)

Creating dataframes and displaying stats of the database

In [54]:
btc_dataframe = json_to_dataframe('BTC') # cvs file is also created by the function
to_floats(btc_dataframe)
btc_dataframe.head()

,open (USD),1b. open (USD),high (USD),2b. high (USD),low (USD),3b. low (USD),close (USD),4b. close (USD),volume,market cap (USD),date
0,56950.56,56950.56,59053.55,59053.55,42000.30,42000.30,48477.90,48477.90,6.654783e+05,6.654783e+05,2021-12-15
1,61299.81,61299.81,69000.00,69000.00,53256.64,53256.64,56950.56,56950.56,1.291900e+06,1.291900e+06,2021-11-30
2,43820.01,43820.01,67000.00,67000.00,43283.03,43283.03,61299.80,61299.80,1.565556e+06,1.565556e+06,2021-10-31
3,47100.89,47100.89,52920.00,52920.00,39600.00,39600.00,43824.10,43824.10,1.527800e+06,1.527800e+06,2021-09-30
4,41461.84,41461.84,50500.00,50500.00,37332.70,37332.70,47100.89,47100.89,1.635403e+06,1.635403e+06,2021-08-31

In [55]:
btc_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   open (USD)        33 non-null     float64
 1   1b. open (USD)    33 non-null     float64
 2   high (USD)        33 non-null     float64
 3   2b. high (USD)    33 non-null     float64
 4   low (USD)         33 non-null     float64
 5   3b. low (USD)     33 non-null     float64
 6   close (USD)       33 non-null     float64
 7   4b. close (USD)   33 non-null     float64
 8    volume           33 non-null     float64
 9   market cap (USD)  33 non-null     float64
 10  date              33 non-null     object
dtypes: float64(10), object(1)
memory usage: 3.0+ KB

In [56]:
btc_dataframe.describe(include = 'all')

,open (USD),1b. open (USD),high (USD),2b. high (USD),low (USD),3b. low (USD),close (USD),4b. close (USD),volume,market cap (USD),date
count,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000,3.300000e+01,3.300000e+01,33
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-15
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
mean,22603.970909,22603.970909,27873.119697,27873.119697,19139.585758,19139.585758,23948.739091,23948.739091,1.922885e+06,1.922885e+06,NaN
std,18923.603797,18923.603797,22482.730457,22482.730457,15459.888792,15459.888792,19143.325368,19143.325368,7.385088e+05,7.385088e+05,NaN
min,4102.440000,4102.440000,5600.000000,5600.000000,3782.130000,3782.130000,5320.810000,5320.810000,6.654783e+05,6.654783e+05,NaN
25%,8620.000000,8620.000000,10370.000000,10370.000000,7444.580000,7444.580000,9138.550000,9138.550000,1.499119e+06,1.499119e+06,NaN
50%,10854.100000,10854.100000,13147.080000,13147.080000,9825.000000,9825.000000,11335.460000,11335.460000,1.689490e+06,1.689490e+06,NaN
75%,37253.820000,37253.820000,50500.000000,50500.000000,30000.000000,30000.000000,41461.830000,41461.830000,2.495282e+06,2.495282e+06,NaN
max,61299.810000,61299.810000,69000.000000,69000.000000,53256.640000,53256.640000,61299.800000,61299.800000,3.789769e+06,3.789769e+06,NaN

In [57]:
eth_dataframe = json_to_dataframe('ETH')
to_floats(eth_dataframe)
eth_dataframe.head()

,open (USD),1b. open (USD),high (USD),2b. high (USD),low (USD),3b. low (USD),close (USD),4b. close (USD),volume,market cap (USD),date
0,4630.25,4630.25,4778.75,4778.75,3503.68,3503.68,3878.31,3878.31,7.517568e+06,7.517568e+06,2021-12-15
1,4287.48,4287.48,4868.00,4868.00,3913.00,3913.00,4630.26,4630.26,1.275612e+07,1.275612e+07,2021-11-30
2,3000.62,3000.62,4460.47,4460.47,2969.07,2969.07,4287.21,4287.21,1.441044e+07,1.441044e+07,2021-10-31
3,3429.19,3429.19,4027.88,4027.88,2652.00,2652.00,3000.61,3000.61,1.726146e+07,1.726146e+07,2021-09-30
4,2531.10,2531.10,3476.00,3476.00,2442.32,2442.32,3429.20,3429.20,2.143644e+07,2.143644e+07,2021-08-31

In [58]:
eth_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   open (USD)        33 non-null     float64
 1   1b. open (USD)    33 non-null     float64
 2   high (USD)        33 non-null     float64
 3   2b. high (USD)    33 non-null     float64
 4   low (USD)         33 non-null     float64
 5   3b. low (USD)     33 non-null     float64
 6   close (USD)       33 non-null     float64
 7   4b. close (USD)   33 non-null     float64
 8    volume           33 non-null     float64
 9   market cap (USD)  33 non-null     float64
 10  date              33 non-null     object
dtypes: float64(10), object(1)
memory usage: 3.0+ KB

In [59]:
eth_dataframe.describe(include = 'all')

,open (USD),1b. open (USD),high (USD),2b. high (USD),low (USD),3b. low (USD),close (USD),4b. close (USD),volume,market cap (USD),date
count,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000,3.300000e+01,3.300000e+01,33
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-15
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
mean,1098.596061,1098.596061,1406.140909,1406.140909,918.956061,918.956061,1211.837273,1211.837273,2.243238e+07,2.243238e+07,NaN
std,1333.587657,1333.587657,1620.992907,1620.992907,1106.126119,1106.126119,1406.425171,1406.425171,1.213268e+07,1.213268e+07,NaN
min,129.160000,129.160000,152.490000,152.490000,86.000000,86.000000,129.160000,129.160000,6.963710e+06,6.963710e+06,NaN
25%,182.190000,182.190000,247.000000,247.000000,157.550000,157.550000,206.080000,206.080000,1.282946e+07,1.282946e+07,NaN
50%,346.320000,346.320000,420.730000,420.730000,308.420000,308.420000,359.830000,359.830000,2.093518e+07,2.093518e+07,NaN
75%,1919.370000,1919.370000,2553.860000,2553.860000,1700.480000,1700.480000,2275.680000,2275.680000,2.876935e+07,2.876935e+07,NaN
max,4630.250000,4630.250000,4868.000000,4868.000000,3913.000000,3913.000000,4630.260000,4630.260000,5.950304e+07,5.950304e+07,NaN

In [60]:
bnb_dataframe = json_to_dataframe('BNB')
to_floats(bnb_dataframe)
bnb_dataframe.head()

,open (USD),1b. open (USD),high (USD),2b. high (USD),low (USD),3b. low (USD),close (USD),4b. close (USD),volume,market cap (USD),date
0,622.50,622.50,649.80,649.80,489.20,489.20,530.4,530.4,1.774784e+07,1.774784e+07,2021-12-15
1,524.60,524.60,669.30,669.30,510.00,510.00,622.5,622.5,3.948518e+07,3.948518e+07,2021-11-30
2,387.50,387.50,540.50,540.50,381.50,381.50,524.6,524.6,3.619950e+07,3.619950e+07,2021-10-31
3,463.90,463.90,509.90,509.90,320.00,320.00,387.5,387.5,3.873755e+07,3.873755e+07,2021-09-30
4,332.38,332.38,518.94,518.94,317.02,317.02,463.9,463.9,4.740885e+07,4.740885e+07,2021-08-31

In [63]:
bnb_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   open (USD)        33 non-null     float64
 1   1b. open (USD)    33 non-null     float64
 2   high (USD)        33 non-null     float64
 3   2b. high (USD)    33 non-null     float64
 4   low (USD)         33 non-null     float64
 5   3b. low (USD)     33 non-null     float64
 6   close (USD)       33 non-null     float64
 7   4b. close (USD)   33 non-null     float64
 8    volume           33 non-null     float64
 9   market cap (USD)  33 non-null     float64
 10  date              33 non-null     object
dtypes: float64(10), object(1)
memory usage: 3.0+ KB

In [64]:
bnb_dataframe.describe(include = 'all')

,open (USD),1b. open (USD),high (USD),2b. high (USD),low (USD),3b. low (USD),close (USD),4b. close (USD),volume,market cap (USD),date
count,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000,3.300000e+01,3.300000e+01,33
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-15
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
mean,141.092121,141.092121,189.757806,189.757806,111.186127,111.186127,156.630600,156.630600,8.084827e+07,8.084827e+07,NaN
std,196.526688,196.526688,245.769773,245.769773,152.563346,152.563346,206.475417,206.475417,4.340154e+07,4.340154e+07,NaN
min,12.549700,12.549700,15.880000,15.880000,6.380000,6.380000,12.545100,12.545100,1.774784e+07,1.774784e+07,NaN
25%,18.264400,18.264400,21.800000,21.800000,14.855500,14.855500,19.230000,19.230000,4.644175e+07,4.644175e+07,NaN
50%,28.505800,28.505800,34.383900,34.383900,24.170900,24.170900,29.265600,29.265600,8.052946e+07,8.052946e+07,NaN
75%,302.459100,302.459100,348.696900,348.696900,211.700000,211.700000,303.710000,303.710000,1.041451e+08,1.041451e+08,NaN
max,622.640000,622.640000,691.770000,691.770000,510.000000,510.000000,622.650000,622.650000,2.321049e+08,2.321049e+08,NaN

In [66]:
uni_dataframe = json_to_dataframe('UNI')
to_floats(uni_dataframe)
uni_dataframe.head()

,open (USD),1b. open (USD),high (USD),2b. high (USD),low (USD),3b. low (USD),close (USD),4b. close (USD),volume,market cap (USD),date
0,21.250,21.250,23.050,23.050,13.180,13.180,15.04,15.04,3.572097e+07,3.572097e+07,2021-12-15
1,24.990,24.990,28.480,28.480,18.470,18.470,21.25,21.25,5.836425e+07,5.836425e+07,2021-11-30
2,23.530,23.530,28.310,28.310,22.300,22.300,24.98,24.98,7.309045e+07,7.309045e+07,2021-10-31
3,29.370,29.370,31.410,31.410,17.730,17.730,23.53,23.53,1.170026e+08,1.170026e+08,2021-09-30
4,21.764,21.764,31.257,31.257,20.624,20.624,29.38,29.38,8.430593e+07,8.430593e+07,2021-08-31

In [67]:
uni_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   open (USD)        15 non-null     float64
 1   1b. open (USD)    15 non-null     float64
 2   high (USD)        15 non-null     float64
 3   2b. high (USD)    15 non-null     float64
 4   low (USD)         15 non-null     float64
 5   3b. low (USD)     15 non-null     float64
 6   close (USD)       15 non-null     float64
 7   4b. close (USD)   15 non-null     float64
 8    volume           15 non-null     float64
 9   market cap (USD)  15 non-null     float64
 10  date              15 non-null     object
dtypes: float64(10), object(1)
memory usage: 1.4+ KB

In [68]:
uni_dataframe.describe(include = 'all')

,open (USD),1b. open (USD),high (USD),2b. high (USD),low (USD),3b. low (USD),close (USD),4b. close (USD),volume,market cap (USD),date
count,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,1.500000e+01,1.500000e+01,15
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-15
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
mean,19.496067,19.496067,25.932993,25.932993,14.015733,14.015733,20.216847,20.216847,1.732325e+08,1.732325e+08,NaN
std,11.165271,11.165271,12.896732,12.896732,7.984128,7.984128,10.420322,10.420322,1.264353e+08,1.264353e+08,NaN
min,2.264800,2.264800,4.485700,4.485700,1.756300,1.756300,2.266200,2.266200,3.572097e+07,3.572097e+07,NaN
25%,11.441750,11.441750,21.805600,21.805600,8.695200,8.695200,16.382300,16.382300,8.551257e+07,8.551257e+07,NaN
50%,21.764000,21.764000,28.480000,28.480000,14.013000,14.013000,21.767000,21.767000,1.334199e+08,1.334199e+08,NaN
75%,26.533800,26.533800,32.204500,32.204500,19.547000,19.547000,26.505800,26.505800,2.237572e+08,2.237572e+08,NaN
max,40.646000,40.646000,45.000000,45.000000,26.978700,26.978700,40.624000,40.624000,4.712306e+08,4.712306e+08,NaN

In [69]:
sol_dataframe = json_to_dataframe('SOL')
to_floats(sol_dataframe)
sol_dataframe.head()

,open (USD),1b. open (USD),high (USD),2b. high (USD),low (USD),3b. low (USD),close (USD),4b. close (USD),volume,market cap (USD),date
0,208.520,208.520,243.12,243.12,148.040,148.040,162.79,162.79,3.302901e+07,3.302901e+07,2021-12-15
1,202.530,202.530,259.90,259.90,180.930,180.930,208.53,208.53,6.886130e+07,6.886130e+07,2021-11-30
2,141.380,141.380,218.93,218.93,137.610,137.610,202.49,202.49,1.146052e+08,1.146052e+08,2021-10-31
3,108.270,108.270,216.00,216.00,105.890,105.890,141.37,141.37,2.361333e+08,2.361333e+08,2021-09-30
4,36.742,36.742,130.11,130.11,32.327,32.327,108.27,108.27,1.817254e+08,1.817254e+08,2021-08-31

In [70]:
sol_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   open (USD)        16 non-null     float64
 1   1b. open (USD)    16 non-null     float64
 2   high (USD)        16 non-null     float64
 3   2b. high (USD)    16 non-null     float64
 4   low (USD)         16 non-null     float64
 5   3b. low (USD)     16 non-null     float64
 6   close (USD)       16 non-null     float64
 7   4b. close (USD)   16 non-null     float64
 8    volume           16 non-null     float64
 9   market cap (USD)  16 non-null     float64
 10  date              16 non-null     object
dtypes: float64(10), object(1)
memory usage: 1.5+ KB

In [71]:
sol_dataframe.describe(include = 'all')

,open (USD),1b. open (USD),high (USD),2b. high (USD),low (USD),3b. low (USD),close (USD),4b. close (USD),volume,market cap (USD),date
count,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,1.600000e+01,1.600000e+01,16
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-15
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
mean,53.617381,53.617381,82.121156,82.121156,44.235300,44.235300,63.492969,63.492969,1.325183e+08,1.325183e+08,NaN
std,71.335604,71.335604,96.706641,96.706641,61.267176,61.267176,74.962274,74.962274,7.269674e+07,7.269674e+07,NaN
min,1.508800,1.508800,2.227900,2.227900,1.030100,1.030100,1.507300,1.507300,3.302901e+07,3.302901e+07,NaN
25%,3.916775,3.916775,4.911875,4.911875,1.944200,1.944200,3.913550,3.913550,7.443505e+07,7.443505e+07,NaN
50%,26.070400,26.070400,41.150000,41.150000,18.731000,18.731000,34.130000,34.130000,1.084470e+08,1.084470e+08,NaN
75%,59.157000,59.157000,151.582500,151.582500,50.717750,50.717750,116.545000,116.545000,1.860982e+08,1.860982e+08,NaN
max,208.520000,208.520000,259.900000,259.900000,180.930000,180.930000,208.530000,208.530000,2.493866e+08,2.493866e+08,NaN

In [72]:
xrp_dataframe = json_to_dataframe('XRP') # cvs file is also created by the function
to_floats(xrp_dataframe)
xrp_dataframe.head()

,open (USD),1b. open (USD),high (USD),2b. high (USD),low (USD),3b. low (USD),close (USD),4b. close (USD),volume,market cap (USD),date
0,0.9984,0.9984,1.0173,1.0173,0.6000,0.6000,0.8107,0.8107,6.311296e+09,6.311296e+09,2021-12-15
1,1.1128,1.1128,1.3493,1.3493,0.8825,0.8825,0.9983,0.9983,1.242776e+10,1.242776e+10,2021-11-30
2,0.9535,0.9535,1.2300,1.2300,0.9443,0.9443,1.1128,1.1128,1.356969e+10,1.356969e+10,2021-10-31
3,1.1856,1.1856,1.4151,1.4151,0.8582,0.8582,0.9533,0.9533,1.452031e+10,1.452031e+10,2021-09-30
4,0.7461,0.7461,1.3500,1.3500,0.6952,0.6952,1.1856,1.1856,1.914604e+10,1.914604e+10,2021-08-31

In [73]:
xrp_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   open (USD)        33 non-null     float64
 1   1b. open (USD)    33 non-null     float64
 2   high (USD)        33 non-null     float64
 3   2b. high (USD)    33 non-null     float64
 4   low (USD)         33 non-null     float64
 5   3b. low (USD)     33 non-null     float64
 6   close (USD)       33 non-null     float64
 7   4b. close (USD)   33 non-null     float64
 8    volume           33 non-null     float64
 9   market cap (USD)  33 non-null     float64
 10  date              33 non-null     object
dtypes: float64(10), object(1)
memory usage: 3.0+ KB

In [74]:
xrp_dataframe.describe()

,open (USD),1b. open (USD),high (USD),2b. high (USD),low (USD),3b. low (USD),close (USD),4b. close (USD),volume,market cap (USD)
count,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000,3.300000e+01,3.300000e+01
mean,0.483580,0.483580,0.645045,0.645045,0.356444,0.356444,0.498788,0.498788,1.356241e+10,1.356241e+10
std,0.363455,0.363455,0.485340,0.485340,0.231112,0.231112,0.366382,0.366382,1.421752e+10,1.421752e+10
min,0.173590,0.173590,0.214700,0.214700,0.101290,0.101290,0.173530,0.173530,1.772168e+09,1.772168e+09
25%,0.239470,0.239470,0.304000,0.304000,0.200130,0.200130,0.239460,0.239460,3.904625e+09,3.904625e+09
50%,0.308550,0.308550,0.422980,0.422980,0.243000,0.243000,0.308700,0.308700,6.311296e+09,6.311296e+09
75%,0.663780,0.663780,0.780680,0.780680,0.509000,0.509000,0.706300,0.706300,1.914604e+10,1.914604e+10
max,1.598900,1.598900,1.966890,1.966890,0.944300,0.944300,1.598800,1.598800,4.913944e+10,4.913944e+10

In [75]:
ada_dataframe = json_to_dataframe('ADA')
to_floats(ada_dataframe)
ada_dataframe.head()

,open (USD),1b. open (USD),high (USD),2b. high (USD),low (USD),3b. low (USD),close (USD),4b. close (USD),volume,market cap (USD),date
0,1.5530,1.5530,1.7600,1.7600,1.1880,1.1880,1.270,1.270,3.574177e+09,3.574177e+09,2021-12-15
1,1.9650,1.9650,2.3780,2.3780,1.4160,1.4160,1.554,1.554,5.739631e+09,5.739631e+09,2021-11-30
2,2.1150,2.1150,2.3750,2.3750,1.8040,1.8040,1.964,1.964,4.723846e+09,4.723846e+09,2021-10-31
3,2.7680,2.7680,3.1010,3.1010,1.9101,1.9101,2.115,2.115,8.927152e+09,8.927152e+09,2021-09-30
4,1.3193,1.3193,2.9719,2.9719,1.2613,1.2613,2.767,2.767,1.144442e+10,1.144442e+10,2021-08-31

In [76]:
ada_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   open (USD)        33 non-null     float64
 1   1b. open (USD)    33 non-null     float64
 2   high (USD)        33 non-null     float64
 3   2b. high (USD)    33 non-null     float64
 4   low (USD)         33 non-null     float64
 5   3b. low (USD)     33 non-null     float64
 6   close (USD)       33 non-null     float64
 7   4b. close (USD)   33 non-null     float64
 8    volume           33 non-null     float64
 9   market cap (USD)  33 non-null     float64
 10  date              33 non-null     object
dtypes: float64(10), object(1)
memory usage: 3.0+ KB

In [77]:
ada_dataframe.describe(include = 'all')

,open (USD),1b. open (USD),high (USD),2b. high (USD),low (USD),3b. low (USD),close (USD),4b. close (USD),volume,market cap (USD),date
count,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000,3.300000e+01,3.300000e+01,33
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-15
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
mean,0.568472,0.568472,0.767938,0.767938,0.431525,0.431525,0.604798,0.604798,1.041557e+10,1.041557e+10,NaN
std,0.784379,0.784379,1.007622,1.007622,0.582803,0.582803,0.788219,0.788219,7.008589e+09,7.008589e+09,NaN
min,0.030450,0.030450,0.040350,0.040350,0.017650,0.017650,0.030450,0.030450,2.562617e+09,2.562617e+09,NaN
25%,0.053900,0.053900,0.072310,0.072310,0.043120,0.043120,0.053900,0.053900,5.288104e+09,5.288104e+09,NaN
50%,0.092960,0.092960,0.128120,0.128120,0.082400,0.082400,0.101360,0.101360,8.927152e+09,8.927152e+09,NaN
75%,1.312790,1.312790,1.495500,1.495500,0.985000,0.985000,1.312030,1.312030,1.236076e+10,1.236076e+10,NaN
max,2.768000,2.768000,3.101000,3.101000,1.910100,1.910100,2.767000,2.767000,2.902684e+10,2.902684e+10,NaN

In [78]:
luna_dataframe = json_to_dataframe('LUNA')
to_floats(luna_dataframe)
luna_dataframe.head()

,open (USD),1b. open (USD),high (USD),2b. high (USD),low (USD),3b. low (USD),close (USD),4b. close (USD),volume,market cap (USD),date
0,59.590,59.590,78.29,78.29,49.650,49.650,60.04,60.04,1.251670e+08,1.251670e+08,2021-12-15
1,42.900,42.900,60.08,60.08,37.820,37.820,59.59,59.59,1.249614e+08,1.249614e+08,2021-11-30
2,38.840,38.840,49.54,49.54,34.860,34.860,42.89,42.89,1.798577e+08,1.798577e+08,2021-10-31
3,31.540,31.540,45.01,45.01,22.950,22.950,38.83,38.83,2.961745e+08,2.961745e+08,2021-09-30
4,10.734,10.734,36.89,36.89,10.523,10.523,31.57,31.57,3.010037e+08,3.010037e+08,2021-08-31

In [79]:
luna_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   open (USD)        16 non-null     float64
 1   1b. open (USD)    16 non-null     float64
 2   high (USD)        16 non-null     float64
 3   2b. high (USD)    16 non-null     float64
 4   low (USD)         16 non-null     float64
 5   3b. low (USD)     16 non-null     float64
 6   close (USD)       16 non-null     float64
 7   4b. close (USD)   16 non-null     float64
 8    volume           16 non-null     float64
 9   market cap (USD)  16 non-null     float64
 10  date              16 non-null     object
dtypes: float64(10), object(1)
memory usage: 1.5+ KB

In [80]:
luna_dataframe.describe(include = 'all')

,open (USD),1b. open (USD),high (USD),2b. high (USD),low (USD),3b. low (USD),close (USD),4b. close (USD),volume,market cap (USD),date
count,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,1.600000e+01,1.600000e+01,16
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-15
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
mean,15.068112,15.068112,22.678756,22.678756,11.873125,11.873125,18.788812,18.788812,2.768185e+08,2.768185e+08,NaN
std,18.478969,18.478969,24.334449,24.334449,15.759524,15.759524,21.151896,21.151896,1.778380e+08,1.778380e+08,NaN
min,0.303100,0.303100,0.340200,0.340200,0.273300,0.273300,0.303200,0.303200,4.248067e+07,4.248067e+07,NaN
25%,0.618050,0.618050,1.459750,1.459750,0.556425,0.556425,1.257000,1.257000,1.251156e+08,1.251156e+08,NaN
50%,6.557500,6.557500,15.499500,15.499500,4.922000,4.922000,8.650000,8.650000,2.662013e+08,2.662013e+08,NaN
75%,21.888175,21.888175,38.920000,38.920000,14.475075,14.475075,33.385000,33.385000,3.299923e+08,3.299923e+08,NaN
max,59.590000,59.590000,78.290000,78.290000,49.650000,49.650000,60.040000,60.040000,6.586118e+08,6.586118e+08,NaN

In [81]:
dot_dataframe = json_to_dataframe('DOT')
to_floats(dot_dataframe)
dot_dataframe.head()

,open (USD),1b. open (USD),high (USD),2b. high (USD),low (USD),3b. low (USD),close (USD),4b. close (USD),volume,market cap (USD),date
0,37.960,37.960,38.78,38.78,24.350,24.350,26.20,26.20,1.535145e+08,1.535145e+08,2021-12-15
1,42.780,42.780,55.09,55.09,32.210,32.210,37.95,37.95,3.221556e+08,3.221556e+08,2021-11-30
2,28.610,28.610,46.39,46.39,28.500,28.500,42.77,42.77,3.901620e+08,3.901620e+08,2021-10-31
3,31.340,31.340,38.77,38.77,22.660,22.660,28.62,28.62,5.561460e+08,5.561460e+08,2021-09-30
4,16.779,16.779,31.95,31.95,16.539,16.539,31.35,31.35,5.059059e+08,5.059059e+08,2021-08-31

In [82]:
dot_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   open (USD)        16 non-null     float64
 1   1b. open (USD)    16 non-null     float64
 2   high (USD)        16 non-null     float64
 3   2b. high (USD)    16 non-null     float64
 4   low (USD)         16 non-null     float64
 5   3b. low (USD)     16 non-null     float64
 6   close (USD)       16 non-null     float64
 7   4b. close (USD)   16 non-null     float64
 8    volume           16 non-null     float64
 9   market cap (USD)  16 non-null     float64
 10  date              16 non-null     object
dtypes: float64(10), object(1)
memory usage: 1.5+ KB

In [83]:
dot_dataframe.describe(include = 'all')

,open (USD),1b. open (USD),high (USD),2b. high (USD),low (USD),3b. low (USD),close (USD),4b. close (USD),volume,market cap (USD),date
count,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,1.600000e+01,1.600000e+01,16
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-15
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
mean,21.880219,21.880219,30.286275,30.286275,15.854081,15.854081,23.126319,23.126319,4.250148e+08,4.250148e+08,NaN
std,13.672903,13.672903,17.237369,17.237369,9.964194,9.964194,13.049238,13.049238,2.040867e+08,2.040867e+08,NaN
min,4.183300,4.183300,4.950000,4.950000,3.532100,3.532100,4.185400,4.185400,1.535145e+08,1.535145e+08,NaN
25%,8.514300,8.514300,15.628500,15.628500,6.508150,6.508150,14.400075,14.400075,2.981940e+08,2.981940e+08,NaN
50%,20.026000,20.026000,35.360000,35.360000,14.609350,14.609350,24.732000,24.732000,3.769282e+08,3.769282e+08,NaN
75%,34.475050,34.475050,43.311100,43.311100,24.921375,24.921375,34.480500,34.480500,5.126091e+08,5.126091e+08,NaN
max,42.780000,42.780000,55.090000,55.090000,32.210000,32.210000,42.770000,42.770000,9.086344e+08,9.086344e+08,NaN

In [84]:
doge_dataframe = json_to_dataframe('DOGE') # cvs file is also created by the function
to_floats(doge_dataframe)
doge_dataframe.head()

,open (USD),1b. open (USD),high (USD),2b. high (USD),low (USD),3b. low (USD),close (USD),4b. close (USD),volume,market cap (USD),date
0,0.21470,0.21470,0.2233,0.2233,0.1310,0.1310,0.1858,0.1858,2.507936e+10,2.507936e+10,2021-12-15
1,0.28000,0.28000,0.2973,0.2973,0.1860,0.1860,0.2147,0.2147,4.264490e+10,4.264490e+10,2021-11-30
2,0.20430,0.20430,0.3400,0.3400,0.2018,0.2018,0.2800,0.2800,8.405412e+10,8.405412e+10,2021-10-31
3,0.27820,0.27820,0.3199,0.3199,0.1940,0.1940,0.2042,0.2042,3.375173e+10,3.375173e+10,2021-09-30
4,0.20764,0.20764,0.3517,0.3517,0.1931,0.1931,0.2781,0.2781,7.322569e+10,7.322569e+10,2021-08-31

In [85]:
doge_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   open (USD)        29 non-null     float64
 1   1b. open (USD)    29 non-null     float64
 2   high (USD)        29 non-null     float64
 3   2b. high (USD)    29 non-null     float64
 4   low (USD)         29 non-null     float64
 5   3b. low (USD)     29 non-null     float64
 6   close (USD)       29 non-null     float64
 7   4b. close (USD)   29 non-null     float64
 8    volume           29 non-null     float64
 9   market cap (USD)  29 non-null     float64
 10  date              29 non-null     object
dtypes: float64(10), object(1)
memory usage: 2.6+ KB

In [87]:
doge_dataframe.describe(include = 'all')

,open (USD),1b. open (USD),high (USD),2b. high (USD),low (USD),3b. low (USD),close (USD),4b. close (USD),volume,market cap (USD),date
count,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,2.900000e+01,2.900000e+01,29
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-15
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
mean,0.078924,0.078924,0.128553,0.128553,0.055600,0.055600,0.085228,0.085228,7.408950e+10,7.408950e+10,NaN
std,0.119098,0.119098,0.192682,0.192682,0.080311,0.080311,0.119758,0.119758,1.196767e+11,1.196767e+11,NaN
min,0.001800,0.001800,0.002304,0.002304,0.001135,0.001135,0.001804,0.001804,2.278713e+09,2.278713e+09,NaN
25%,0.002423,0.002423,0.002810,0.002810,0.002186,0.002186,0.002433,0.002433,5.605772e+09,5.605772e+09,NaN
50%,0.003206,0.003206,0.004890,0.004890,0.002528,0.002528,0.003224,0.003224,3.079310e+10,3.079310e+10,NaN
75%,0.204300,0.204300,0.261400,0.261400,0.131000,0.131000,0.204200,0.204200,7.322569e+10,7.322569e+10,NaN
max,0.337460,0.337460,0.739950,0.739950,0.211110,0.211110,0.337460,0.337460,4.607867e+11,4.607867e+11,NaN